body {
	font: icon;
}

.arrowPopup {
  --square-root-of-2: 1.41421356237;

  background: var(--background-color);
  border: var(--border-thickness) solid var(--border-color);
  border-radius: 5px;
  display: inline-block;
	filter: drop-shadow(0 0 2px black);
	margin: calc(var(--arrow-size) + var(--border-thickness));
	min-height: calc((var(--arrow-size) + var(--border-thickness) * var(--square-root-of-2)) * 2);
	padding: 1em;
  position: relative;
}

.arrowPopup::after {
	border: calc(var(--arrow-size)) solid transparent;
	content: '';
	height: 0;
	position: absolute;
	width: 0;
}

.arrowPopupHorizontal::after {
	top: calc(50% - var(--arrow-size));
}

.arrowPopupRight::after {
	border-left-color: var(--background-color);
  left: 100%;
}

.arrowPopupLeft::after {
	border-right-color: var(--background-color);
  right: 100%;
}

.arrowPopupVertical::after {
	bottom: 100%;
	left: calc(50% - var(--arrow-size));
}

.arrowPopupTop::after {
	border-bottom-color: var(--background-color);
}

.arrowPopupBottom::after {
	border-top-color: var(--background-color);
	top: 100%;
}

.arrowPopup::before {
	border: calc(var(--arrow-size) + var(--border-thickness) * var(--square-root-of-2)) solid transparent;
	content: '';
	height: 0;
	position: absolute;
	width: 0;
}

.arrowPopupHorizontal::before {
	top: calc(50% - var(--arrow-size) - var(--border-thickness) * var(--square-root-of-2));
}

.arrowPopupRight::before {
	border-left-color: var(--border-color);
  left: 100%;
}

.arrowPopupLeft::before {
	border-right-color: var(--border-color);
  right: 100%;
}

.arrowPopupVertical::before {
	left: calc(50% - var(--arrow-size) - var(--border-thickness) * var(--square-root-of-2));
}

.arrowPopupTop::before {
	border-bottom-color: var(--border-color);
	bottom: 100%;
}

.arrowPopupBottom::before {
	border-top-color: var(--border-color);
	top: 100%;
}
